.example-spacer {
    flex: 10 10 auto;
  }
  mat-drawer {
    width: 250px;
    background-color: burlywood;
    
  }
  .example-container {
    height: 100%;
  }
  .menu {
    background-color: black;
  }
  .head {
    color: aliceblue;
    font-size: x-large;
  }
  
  .with-icon {
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  .dashboard{
       color: aliceblue;
  }
  
  
  
  
  