<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" routerLink="/login"><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-up-htm">

				<mat-form-field class="example-half-width group" appearance="fill">
					<mat-label class="label" >Firstname</mat-label>
					<input matInput [formControl]="firstnameFormControl" [(ngModel)]="FirstNameId">
					<mat-error *ngIf="firstnameFormControl.hasError('required')">
						Firstname is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-half-width group" appearance="fill">
					<mat-label class="label" >Lastname</mat-label>
					<input matInput [formControl]="lastnameFormControl" [(ngModel)]="LastNameId">
					<mat-error *ngIf="lastnameFormControl.hasError('required')">
						Lastname is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-half-width group" appearance="fill">
					<mat-label class="label" >Username</mat-label>
					<input matInput [formControl]="usernameFormControl" (input)="checkUserExists()" placeholder="Book@Store" [(ngModel)]="UserNameId">
					<mat-error *ngIf="usernameFormControl.hasError('required')">
						Username is <strong>required</strong>
					</mat-error>
					
				</mat-form-field>
				<div *ngIf="existUsernameFlag" style= "color: red;">
						Username already <strong>Exists</strong>
				</div>

                <mat-form-field class="example-half-width group " appearance="fill">
                    <mat-label class="label">Password</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="passwordFormControl" [(ngModel)]="PasswordId" >
                    <button mat-icon-button aria-label="Hide password" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
					<mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
					</mat-error>
                </mat-form-field>

				

                <mat-form-field class="example-half-width group " appearance="fill">
                    <mat-label class="label">Repeat Password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="repeatpasswordFormControl" [(ngModel)]="RepeatPasswordId" (focusout)="passwordCheck()">
                    <button mat-icon-button aria-label="Hide password" matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
					<mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="repeatpasswordFormControl.hasError('required')">
                        Password is <strong>required</strong>
					</mat-error>
                </mat-form-field>
                <div *ngIf="passwordFlag" style= "color: red;">
						Password doesnot <strong>Match</strong>
				</div>
                <mat-form-field class="example-half-width group " appearance="fill">
                   <mat-label class="label">Enter your email</mat-label>
                   <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="EmailId">
                   <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="example-half-width group " appearance="fill">
					<mat-label class="label" >Select Language</mat-label>
					    <mat-select class="select" [(value)]="selectedLanguage">
                            <mat-option >None</mat-option>
                            <mat-option *ngFor="let language of language" [value]="language">{{language}}</mat-option>
                        </mat-select>
				</mat-form-field>
				
				<mat-form-field class="example-half-width group" appearance="fill">
					<mat-label class="label" >Phone Number</mat-label>
					<input matInput [formControl]="phonenumberFormControl" [(ngModel)]="PhoneNumberId">
					<mat-icon matSuffix>phone</mat-icon>
					<mat-error *ngIf="phonenumberFormControl.hasError('required')">
                    Phone Number is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<div class="group">
					<input type="submit" (click)="submit()" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1" routerLink="/login">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>

